.mxPopupMenu {
    background: #FFFFFF;
    border: 1px solid gray;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    z-index: 9999;
  }
  
  .mxPopupMenu * {
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
  }
  
  .mxPopupMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mxPopupMenu .mxPopupMenuItem {
    background: #FFFFFF;
    border: none;
    color: #000000;
    cursor: pointer;
    display: block;
    font-weight: normal;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 2px 20px 2px 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
  }
  
  .mxPopupMenu .mxPopupMenuItem:hover {
    background-color: #f2f2f2;
  }
  
  .mxPopupMenu .mxPopupMenuItem img {
    border: none;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
  }
  
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemIcon {
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
  }
  
  /* 체크 아이콘 */
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemIconCheck {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
  }
  
  /* 서브 메뉴 아이콘 */
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemIconSubmenu {
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 10px;
  }
  
  /* 구분선 */
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemSeparator {
    border-top: 1px solid gray;
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
  }
  
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemSeparator img {
    display: none;
  }
  
  .mxPopupMenu .mxPopupMenuItem .mxPopupMenuItemSeparator span {
    display: block;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -5px;
    width: 100%;
  }