.context-menu {
    position: absolute;
    z-index: 1100;
    width: 170px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .context-menu-item {
    padding: 3px 20px;
    line-height: 20px;
    color: #333;
    font-weight: normal;
  }
  
  .context-menu-item:hover {
    background-color: #eee;
  }
  
  .context-menu-item.disabled {
    color: #999;
    cursor: default;
  }
  
  .context-menu-item--separator {
    border-top: 1px solid #ccc;
    margin: 3px 0;
  }
  
  .context-menu-item--disabled {
    color: #999;
    cursor: default;
  }
  
  .context-menu-submenu-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #333 transparent transparent transparent;
  }
  
  .context-menu-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    z-index: 1200;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
  }